/**********************************
GENERAL
***********************************/

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

img {
  max-width: 100%;
}

body {
    margin: 0;
    padding: 0;
}

.mainContainer {

    width: 100%;
    text-align: center;
    
}

#logo {
    top: 20px;
    left: 5%;
    width: 52px;
    height: 52px;
    position: fixed;
}

/**********************************
INTRO
***********************************/

.introContainer {
    display: block;
    padding: 0 5% 0 5%;
    text-align: center;
    max-width: 940px;
    margin: auto;
}

.intro h2 {
    font-size: 2.25em;
    font-weight: 300;
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    
}

.intro p {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-size: 1.05em;
}
.intro p a {
    font-weight: 500;
}

.intro p a:hover {
    color:  #da552f;
}



.intro img {
    margin: 20px 0 0 0;
}


.divider {
    display: block;
    background-color: #e74c3c;
    height: 1px;
    margin: 40px auto;
    width: 50px;

}
/**********************************
INTRO - Social Icons
***********************************/

.socialIcons {
    display: block;
    text-align: center;
    padding: 0;
}

.socialIcons li {
    display: inline-block;
    list-style: none;
    margin-right: 10px;
}

.socialIcons li a img{
    width: 40px;
    height: 40px;
    outline: none;
}

/**********************************
BLOG
***********************************/

.blogLayout {
    display: block;
    text-align: center;
    padding: 0 5% 0 5%;
    max-width: 940px;
    margin: auto;
}

.blog {
    display: table;
    width: 100%;
    margin: 0 0 20px 0;
    border-bottom: 1px solid #ffffff;
}

.blog img {
    height: 150px;
    width: 100%;
    object-fit: cover;
}

.blog h2 {
    font-size: 2.25em;
    font-weight: 300;
    margin: 0;
    padding: 0 0 5px 0;
    font-family: 'Source Sans Pro', sans-serif;
}

.blog p {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-size: 1.05em;
    padding: 0 0 5px 0;
    margin: 0;
}

a.blog:hover{
    
    border-bottom: 1px solid #e74c3c;
    /*background-color: #e74c3c;
    color: white;*/
}

/**********************************
My Work
***********************************/
.workContainer {
    padding: 0 5% 0 5%;
    max-width: 940px;
    margin: auto;
    text-align: center;


}
.workLayout {
    margin: 0;
    padding: 0;
    list-style: none;
    clear: both;

    /*display: block;
    text-align: center;
    padding: 0 5% 0 5%;
    max-width: 940px;
    margin: auto;
    clear: both;*/
}

.workLayout li {
    float: left;
    width: 100%;
    margin: 0 0 50px 0;
    object-fit: cover;
    overflow: hidden;
}

/*
.myWork{
    display: table;
    width: 100%;
    margin: 0 0 20px 0;
    border-bottom: 10px solid #ffffff;
    float: left;
}

.work {
    display: inline-block;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    
}*/

.work img {
    transition: all .3s ease;
    vertical-align: middle;
}

.work img:hover {
    transform:scale(1.5);
    -ms-transform:scale(1.5); /* IE 9 */
    -moz-transform:scale(1.5); /* Firefox */
    -webkit-transform:scale(1.5); /* Safari and Chrome */
    -o-transform:scale(1.5); /* Opera */
}

/**********************************
Parallax
***********************************/
.parallax {
    margin: 0;
}


[class*="bg__"] {
    height: 150px;
    margin: 50px 0 50px 0;

    text-indent: -9999px;

    /* fix background */
    background-attachment: fixed;

    /* center it */
    background-position: center center;

    /* Scale it to the element */
    background-size: cover;
    clear: both;
}

.bg__blog {
    background-image: url(
    Img/blog.jpeg
    );
}

.bg__work {
    background-image: url(
    Img/work.JPG
    );
}

.bg__follow {
    background-image: url(
    Img/social.JPG
    );
}






/**********************************
Footer
***********************************/
footer {
    display: block;
    padding: 0 5% 0 5%;
    text-align: center;
}