/**********************************
GENERAL
***********************************/

* {
    box-sizing: border-box;
}

body {
    max-width: 940px;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

img {
  max-width: 100%;
}



/**********************************
INTRO
***********************************/

.introContainer {
    display: block;
    padding: 0 5% 0 5%;
    text-align: center;
}

.intro h2 {
    font-size: 2.25em;
    font-weight: 300;
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    
}

.intro p {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-size: 1.05em;
}
.intro img {
    padding: 5% 0 0 0;
}


.divider {
    display: block;
    background-color: #e74c3c;
    height: 1px;
    margin: 40px auto;
    width: 50px;

}
/**********************************
INTRO - Social Icons
***********************************/

.socialIcons {
    display: block;
    text-align: center;
    padding: 0;
}

.socialIcons li {
    display: inline-block;
    list-style: none;
    margin-right: 10px;
}

.socialIcons li a img{
    width: 40px;
    height: 40px;
}

/**********************************
BLOG
***********************************/

.blogLayout {
    display: block;
    text-align: center;
    padding: 0 5% 0 5%;
}

.blog {
    display: table;
    width: 100%;
    margin: 0 0 20px 0;
    border-bottom: 1px solid #ffffff;
}

.blog img {
    height: 150px;
    width: 100%;
    object-fit: cover;
}

.blog h2 {
    font-size: 2.25em;
    font-weight: 300;
    margin: 0;
    padding: 0 0 5px 0;
    font-family: 'Source Sans Pro', sans-serif;
}

.blog p {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-size: 1.05em;
    padding: 0 0 5px 0;
    margin: 0;
}

a.blog:hover{
    
    border-bottom: 1px solid #e74c3c;
    /*background-color: #e74c3c;
    color: white;*/
}

/**********************************
My Work
***********************************/
.workLayout {
    display: block;
    text-align: center;
    padding: 0 5% 0 5%;
}

.myWork{
    display: table;
    width: 100%;
    margin: 0 0 20px 0;
    border-bottom: 10px solid #ffffff;
}

.work {
    display: inline-block;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}

.work img {
    transition: all .3s ease;
    vertical-align: middle;
}

.work img:hover {
    transform:scale(1.5);
    -ms-transform:scale(1.5); /* IE 9 */
    -moz-transform:scale(1.5); /* Firefox */
    -webkit-transform:scale(1.5); /* Safari and Chrome */
    -o-transform:scale(1.5); /* Opera */
}

/**********************************
Parallax
***********************************/

[class*="bg__"] {
  height: 150px;
    margin: 10% 0 10% 0;
    
  text-indent: -9999px;

  /* fix background */
  background-attachment: fixed;

  /* center it */
  background-position: center center;

  /* Scale it to the element */
  background-size: cover;
}

.bg__blog {
  background-image: url(
    Img/cloud2.jpg
  );
}

.bg__work {
  background-image: url(
    Img/forest1.jpg
  );
}

.bg__follow {
  background-image: url(
    Img/sunset1.jpg
  );
}






/**********************************
Footer
***********************************/
footer {
    display: block;
    padding: 0 5% 0 5%;
    text-align: center;
}