

    
    </section>

            <footer>
                <ul class="socialIcons">
                    <li><a href="https://www.facebook.com/denis.tyurkov"><img src="/images/facebook.png" alt="FB"></a></li>
                    <li><a href="https://instagram.com/denistyurkov/"><img src="/images/Instagram.png" alt="IG"></a></li>
                    <li><a href="https://twitter.com/DenisTyurkov"><img src="/images/twitter.png" alt="TW"></a></li>
                    <li><a href="https://nz.linkedin.com/pub/denis-tyur-kov/40/a89/753"><img src="/images/linkedin.png" alt="LI"></a></li>
                </ul>
                <p>&copy; 2015 Denis Tyur'kov.</p>
            </footer>

    </div>
    </body>
</html>